# Backend
backend/venv/
backend/db.sqlite3
backend/__pycache__/
backend/**/__pycache__/
backend/.coverage
backend/htmlcov/
backend/staticfiles/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/out-tsc/
